:root {
    --rtl: translateX(100vw);
    --ltr: translateX(-100vw);
  }

*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
    font-family: 'Exo 2', sans-serif;
}

img {
    display: block;
}

.plus {
    font-size: 45px;
    font-weight: 500;
}

.moon2024 {
    position: absolute;
    left: 0;
    transition: 0.3s;
}

@media only screen and (max-width: 1200px) {
    .moon2024 {
        transform: translateX(-100%);
    }
}

.nasa-logo {
    filter: saturate(0);
}

.nasa-logo:hover {
    filter: saturate(1);
}

.social {
    background-image: url(./img/foo-05.jpg);
    display: flex;
    flex-direction: column;
    padding: 5% 0px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.social > h1 {
    color: white;
    margin: 0px auto;
    margin-bottom: 40px;
    background-color: #0b3d91;
    padding: 6px 12px;
}

.fa {
    padding: 12px;
    font-size: 22px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .social > h1 {
        margin-bottom: 30px;
        padding: 5px 10px;
        font-size: 26px;
    }
    
    .fa {
        padding: 10px;
        font-size: 18px;
        width: 20px;
        text-align: center;
        text-decoration: none;
    }
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    transform: translateY(-100px);
    transition: 0.3s;
    position: fixed;
    width: 100%;
    z-index: 40;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

ul {
    display: flex;
    margin: 0;
    padding: 16px 0;
    padding-left: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 16px 32px;
}

a:hover {
    background-color: lightgray;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
}

.show {
    transform: translateY(0);
}

.show-para {
    display: none;
}

.img-op {
    filter: saturate(0);
    opacity: 0.2;
}

.why-color {
    color: white;
    line-height: 1.5;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 300;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .why-color {
        color: white;
        line-height: 1.4;
        position: absolute;
        top: 0;
        padding: 5px 10px;
        font-size: 18px;
        font-weight: 300;
    }
}

.opening-para {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black; 
}

.para {
    font-size: 20px;
    max-width: 700px; 
    padding: 0 16px;
    margin: 0 auto;
    line-height: 1.5;
    margin: 18px 0;
    font-weight: 600;
}

.why-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000008;
    color: white;
    position: relative;
    padding: 44.4px 0;
    margin-top: -0.2px;
}

.success {
    font-size: 42px;
    font-weight: 500;
    padding: 18px 16px;
    padding-top: 0px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .success {
        font-size: 30px;
        font-weight: 400;
        padding: 9px 16px;
        padding-top: 0px;
        text-align: center;
        margin: -30px 0;
    }
}

h1 {
    font-size: 32px;
    font-weight: 900;
    padding: 18px 16px;
    padding-top: 0px;
    text-align: center;
}

.why-content {
    background-image: url(./img/tumblr_d27a228b94cfe43e397d46f0327899c7_def1253e_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.how-content {
    background-image: url(./img/tumblr_d27a228b94cfe43e397d46f0327899c7_def1253e_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.how-img > img {
    width: 100%;
}

.how-img {
    background-image: url(./img/how2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 20px;
}

h2 {
    text-align: end;
    font-size: 45px;
    padding-top: 32px;
    padding-right: 16px;
    color: white;
}

.red-how {
    background-color: red;
    padding: 8px 16px;
}


@media only screen and (max-width: 1000px) {
    .how-img {
        background-image: url(./img/how2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        position: relative;
    }
    h2 {
        text-align: end;
        font-size: 35px;
        padding-top: 24px;
        padding-right: 12px;
        color: white;
        max-width: 200px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .red-how {
        background-color: red;
        padding: 4px 8px;
    }
    
}

.why-image-p {
    position: relative;
}

.more-a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #0b3d91;
    color: white;
}

.more {
    display: flex;
    background: rgb(0,0,78);
    background: linear-gradient(rgba(0,0,78,1) 0%, rgba(0,0,73,1) 18%, rgba(0,0,68,1) 35%, rgba(0,0,59,1) 51%, rgba(0,0,54,1) 75%, rgba(0,0,48,1) 100%);
}

.links-1 {
    display: flex;
    gap: 5px;
}


.more-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.link {
    color: white;
    padding: 12px 18px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px lightgray;
}

@media only screen and (max-width: 1200px) {
    .link {
        color: white;
        padding: 8px 16px;
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
}

.banner {
    width: 50vw;
}

.link {
    background-color: #000008;
}

.link:hover {
    background-color: lightgray;
    box-shadow: 0 5px #000008;
    color: black;
}

@media only screen and (max-width: 1080px) {
    .banner {
        width: 100%;
        
    }
    .more {
        display: flex;
        flex-direction: column;
    }
    .more-links {
        width: 100%;
        background-color: #000008;
        justify-content: space-between;
    }
    .link {
        border: lightgray solid 1px;
        box-shadow: none;
    }
}

@media only screen and (max-width: 600px) {
    .link {
    color: white;
    padding: 3px 6px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    }
}

.container {
    max-width: 980px;
    margin: auto;
    display: flex; 
    justify-content: center;
    padding: 32px 16px;
    gap: 32px;
}

.how-container {
    max-width: 980px;
    margin: auto;
    display: flex; 
    justify-content: center;
    padding: 0 16px;
    padding-top: 32px;
    gap: 32px;
}

.why-images-content {
    width: 100%;
    max-width: 350px;
    position: relative;
}


.why-images {
    width: 100%;
    max-width: 350px;
}

button {
    display: block;
    width: 100%;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px 16px;
    line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
    button {
        font-size: 18px;
        padding: 8px 8px;
    }
    .container, .how-container {
        padding: 32px 8px;
    }
}

@media only screen and (max-width: 825px) {
    .container, .how-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    button {
        font-size: 24px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 980px;
    margin: auto;
    height: 600px;
    overflow-x: hidden;
}

.logo-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    display: none;
    margin-top: -20px;
}

.logo-s {
    max-width: 90%;
    margin-left: 2%;
    padding: 15px 10px;
}

.tip-logo {
    position: absolute;
    max-width: 260px;
    left: 0;
    padding-top: 3.5rem;
    transform: var(--ltr);
    transition: 0.5s;
    transition-delay: 0.1s;
}

.blue-logo {
    position: absolute;
    max-width: 260px;
    left: 0;
    bottom: 0;
    padding-bottom: 7rem;
    transform: var(--ltr);
    transition: 0.5s;
    transition-delay: 0.2s;
}

.moon-logo {
    position: absolute;
    max-width: 260px;
    right: 0;
    padding-top: 3.5rem;
    transform: var(--rtl);
    transition: 0.5s;
    transition-delay: 0.3s;
}

.red-logo {
    position: absolute;
    max-width: 260px;
    right: 0;
    padding-top: 13rem;
    transform: var(--rtl);
    transition: 0.5s;
    transition-delay: 0.4s;
}

.a-logo {
    position: absolute;
    max-width: 260px;
    right: 0;
    bottom: 0;
    padding-bottom: 7rem;
    transform: var(--rtl);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.logo-title {
    display: block; 
    color: #BE1E2D;
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 2px;
}

@media only screen and (max-width: 1080px) {
    .logo {
        display: none;
    }
    .logo-small {
        display: flex;
    }
    .logo-title {
        margin-left: -2%;
        font-size: 18px;
    }
}

.logo-s-info {
    margin-top: -50px;
}

.show-logo {
    position: absolute;
    bottom: 40px;
    color: #000008;
    width: 120px;
    font-weight: 700;
    border: #000008 solid 1px;
    font-size: 16px;
    padding: 0px;
}

button:hover {
    background-color: lightgray;
}

.why-video-content {
    max-width: 980px;
    margin: auto;
}


.why-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.focused-video {
    position: relative;
    height: 65vh;
    padding: 30px 0;
    width: 80%;
    left: 10%
}

#focused {
    background-color: black;
}

@media only screen and (max-width: 1200px) {
    .focused-video {
        position: relative;
        height: 50vh;
        padding: 15px 0;
        width: 90%;
        left: 5%
    }
}

@media only screen and (max-width: 600px) {
    .focused-video {
        position: relative;
        height: 40vh;
        width: 100%;
        left: 0%;
    }
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission-p {
    background-color: #dfdfdf;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.we-go {
    width: 85%;
    transform: translateY(100%);
    transition: 0.6s;
}

.showtext {
    transform: translateY(0);
}

footer {
    background-color: #000008;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
    color: white;
}